* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 16px;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 0 5px #ccc;
    position: fixed;
    width: 100%;
    z-index: 1;
}

h1 {
    color: #000;
    margin: 1rem;
    font-size: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

nav ul li {
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    color: gray;
    padding: 5px 10px ;
    border-bottom: solid 1px gray;
    border-radius: 5px;
    margin: 0 10px;
    transition: 0.4s ease-in;
}

nav ul li a:hover {
    color: black;
    border-bottom: solid 1.5px #000;
    box-shadow: 0 0 5px #ccc;
}

nav ul li a:active {
    color: black;
    border-bottom: solid 1.5px #000;
    box-shadow: 0 0 5px #ccc;
}

main {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

main .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 25px;
    width: 1500px;
}

#intro {
    display: flex;
    justify-content: center;
    background: url(../images/intro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
}

.intro-head {
    background-color: #000;
    width: 100%;
}

#intro h2 {
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem;
    opacity: 1;
}